@neutralBlack: #232122;
@neutralGrey: #808080;
@neutralLightGrey: #cac7c4;
@neutralLightGrey2: #ededed;
@neutralC7: #c7c4ca;
@neutralF5: #f5f5f5;
@neutralWhite: #ffffff;

@lilac: #8c7dee;
@lilacLight: #efeefb;

@base-font-size: 14px;

@boxshadow1: 0 0 10px 0 rgba(0, 0, 0, 0.1);

@bg: @neutralF5;
@text: @neutralBlack;
@tile-bg: @neutralWhite;

html {
    font-size: @base-font-size;
}

.h1,
h1-bold {
    font-family: "Lato", "Open Sans", sans-serif;
    font-optical-sizing: auto;
    letter-spacing: -2%;
    font-size: 38px;
    line-height: 43px;
    font-weight: 700;
}

.h2,
.h2-bold {
    font-family: "Lato", "Open Sans", sans-serif;
    font-optical-sizing: auto;
    letter-spacing: -1%;
    font-size: 28px;
    line-height: 33.6px;
}

.h3,
.h3-bold {
    font-family: "Lato", "Open Sans", sans-serif;
    font-optical-sizing: auto;
    letter-spacing: -2%;
    font-size: 20px;
    line-height: 24px;
}

.h1-bold,
.h2-bold,
.h3-bold {
    font-weight: 700;
}

.subh1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    letter-spacing: -2%;
    font-size: 18px;
    line-height: 21.78px;
}

.subh2 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    letter-spacing: -1%;
    font-size: 16px;
    line-height: 19.36px;
}

.description {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 12px;
    line-height: 14.52px;
}

.text {
    color: @neutralGrey;
}

html {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    background-color: @bg;
    color: @text;
    font-size: 14px;
    line-height: 20px;
}

body {
    padding: 0;
    margin: 0;
}

.logo-container {
    margin-left: 16px;
    font-family: Gabarito;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 8px;
    color: @lilac;
}

.navbar-icon {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: @neutralF5;
    position: absolute;
    z-index: 3;
    right: 0;
    top: 0;
}

label.icon-button {
    position: absolute;
    z-index: 1;
    top: 0;
}

.icon-button {
    padding: 16px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.navbar-content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: @neutralF5;
    transition: transform 0.4s ease-in-out;
    transform: translateY(-100%);
    height: auto;
    overflow: hidden;
    z-index: 2;
    height: 100vh;
}

.navbar-register {
    margin: 24px 16px 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.register-socials {
    margin-top: 16px;
}

.menu {
    margin-top: 40px;
}

.menu-label {
    padding-left: 16px;
    color: @neutralGrey;
}

.menu-item {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    border-bottom: 1px solid @neutralLightGrey2;
}

.menu .menu-item:nth-last-of-type(1) {
    border-bottom: 0;
}

.menu-item-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.menu-item-title-text {
    line-height: 14px;
}

.register-socials {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;

    .button {
        flex: 1;
        background-color: @neutralWhite;
        display: flex;
        border: 0;
        flex-direction: column;
        gap: 8px;
        border-radius: 8px;
        padding: 12px;
        justify-content: center;
        align-items: center;
    }
}

.main {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 16px 16px 82px 16px;

    .main-header-wrapper {
        display: flex;
        justify-content: end;
    }

    .section {

        &.register {
            display: flex;
            flex-direction: column;
            gap: 16px;

            .tile {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 8px;
            }
        }

        &.loyalty-programs {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .h3 {
                color: @lilac;
            }
        }

        &.loyalty-card {
            display: flex;
            gap: 8px;
            flex-direction: column;

            .qr {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 16px;

                &-desc {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                }
            }

            .desc {
                display: flex;
                gap: 8px;
                justify-content: space-between;
                align-items: center;

                .visits,
                .businesses {
                    padding: 12px;
                    flex: 1;
                    display: flex;
                    gap: 12px;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }

            .show-businesses {
                margin-top: 16px;
            }
        }
    }

    .tile {
        background-color: @tile-bg;
        padding: 8px;
        border-radius: 14px;
    }
}

.tile {
    background-color: @neutralWhite;
    border-radius: 14px;
}

.button-default {
    border-radius: 1000px;
    padding: 20px;
    border: 1px solid @neutralLightGrey;
    background-color: @neutralF5;
    backdrop-filter: blur(10px);
    width: 100%;
    font-weight: 700;

    &.selected {
        background-color: @lilacLight;
        color: @neutralWhite;
    }
}

.button-primary {
    background: @neutralBlack;
    color: @neutralWhite;
}

.button-secondary {
    border: 1px solid @neutralLightGrey;
    background: @neutralWhite;
    box-shadow: @boxshadow1;
    backdrop-filter: blur(20px);
    background-color: transparent;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: @neutralWhite;

    &-content {
        display: flex;
        justify-content: space-between;
        padding: 10px 16px 5px 16px;
        gap: 20px;

        &-item {
            flex: 1;
            display: flex;
            justify-content: center;
        }
    }

    .button {
        display: flex;
        min-width: 44px;
        padding: 12px 20px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 1000px;
        border: 0;
        width: 100%;
        background-color: transparent;
        color: @neutralBlack;
        font-weight: 600;

        svg {
            display: none;
        }

        &.selected {
            background-color: @lilacLight;
            color: @lilac;

            svg {
                stroke: @lilac;
                display: block;
            }
        }
    }
}

.language-content {
    display: none;
    position: fixed;
    bottom: 0;
    background-color: red;
    width: 100%;
}

/**
 * DEMO
 */



.navbar-checkbox {
    height: 0;
    position: absolute;
}

.navbar-checkbox:checked ~ .navbar .navbar-content {
    transform: translateY(0);
}

.navbar-checkbox:not(:checked) ~ .navbar .navbar-content {
    transform: translateY(-100%);
}

.navbar-checkbox:checked ~ .main #navbar-hamburger,
.navbar-checkbox:checked ~ .navbar #navbar-hamburger {
    display: none;
}

.navbar-checkbox:not(:checked) ~ .navbar #navbar-hamburger {
    display: block;
}

.navbar-checkbox:checked ~ .navbar #navbar-close {
    display: flex;
}

.navbar-checkbox:not(:checked) ~ .navbar #navbar-close {
    display: none;
}

.navbar-checkbox:checked ~ .navbar .logo-container {
    visibility: visible;
}

.navbar-checkbox:not(:checked) ~ .navbar .logo-container {
    visibility: hidden;
}

.navbar-checkbox:checked ~ .navbar .navbar-icon {
    position: fixed;
}

.navbar-checkbox:not(:checked) ~ .navbar .icon-button {
    position: absolute;
}
