html {
  font-size: 14px;
}
.h1,
.h1-bold {
  font-family: "Lato", "Open Sans", sans-serif;
  font-optical-sizing: auto;
  letter-spacing: -2%;
  font-size: 38px;
  line-height: 43px;
  font-weight: 600;
}
.h2,
.h2-bold {
  font-family: "Lato", "Open Sans", sans-serif;
  font-optical-sizing: auto;
  letter-spacing: -1%;
  font-size: 28px;
  line-height: 33.6px;
}
.h3,
.h3-bold {
  font-family: "Lato", "Open Sans", sans-serif;
  font-optical-sizing: auto;
  letter-spacing: -2%;
  font-size: 20px;
  line-height: 24px;
}
.h1-bold,
.h2-bold,
.h3-bold {
  font-weight: 600;
}
.subh1,
.subh1-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  letter-spacing: -2%;
  font-size: 18px;
  line-height: 21.78px;
}
.subh2,
.subh2-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  letter-spacing: -1%;
  font-size: 16px;
  line-height: 19.36px;
}
.subh1-bold,
.subh2-bold {
  font-weight: 600;
}
.description {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 12px;
  line-height: 14.52px;
}
.bold {
  font-weight: 600;
}
.text,
input {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  font-weight: 400;
}
html {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  background-color: #f5f5f5;
  color: #232122;
  font-size: 14px;
  line-height: 20px;
}
body {
  padding: 0;
  margin: 0;
}
.input-prefix-icon {
  padding: 12px 12px 12px 40px;
  border: 1px solid #c7c4ca;
  background-color: #f5f5f5;
  border-radius: 12px;
  width: 100%;
}
.input-prefix-icon + svg {
  display: block;
  padding: 12px;
  position: absolute;
  margin-top: -45px;
  z-index: 8888;
  stroke: #808080;
}
input:not(:placeholder-shown) + svg {
  stroke: #232122;
}
.logo-container {
  margin-left: 16px;
  font-family: Gabarito;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #8c7dee;
}
.navbar-icon {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: #f5f5f5;
  position: absolute;
  z-index: 3;
  right: 0;
  top: 0;
}
label.icon-button {
  position: absolute;
  z-index: 1;
  top: 0;
  justify-content: end;
}
.icon-button {
  padding: 16px;
  display: flex;
  align-items: center;
}
.button-text,
a {
  padding: 0;
  color: #8c7dee;
  font-weight: 600;
  border: 0;
  background-color: transparent;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
}
.icon-button-round {
  border: 0;
  display: inline-block;
  padding: 8px;
  align-items: center;
  border-radius: 104px;
  backdrop-filter: blur(32px);
  background-color: #ffffff;
}
.navbar-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f5f5f5;
  transition: transform 0.4s ease-in-out;
  transform: translateY(-100%);
  height: auto;
  overflow: hidden;
  z-index: 2;
  height: 100vh;
}
.navbar-register {
  margin: 24px 16px 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.menu {
  margin-top: 40px;
}
.menu-label {
  padding-left: 16px;
  color: #808080;
}
.menu-item {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  border-bottom: 1px solid #ededed;
}
.menu .menu-item:nth-last-of-type(1) {
  border-bottom: 0;
}
.menu-item-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.menu-item-title-text {
  line-height: 14px;
}
.socials-wrapper {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.section {
  margin: 0 16px;
}
.home-page {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px 0 82px;
}
.home-page .main-header-wrapper {
  display: flex;
  justify-content: end;
}
.home-page .section.register {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.home-page .section.register .tile {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.home-page .section.loyalty-programs {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.home-page .section.loyalty-programs .h3 {
  color: #8c7dee;
}
.home-page .tile {
  background-color: #ffffff;
  padding: 8px;
  border-radius: 14px;
}
.section.loyalty-card {
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.section.loyalty-card .qr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.section.loyalty-card .qr-desc {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.section.loyalty-card .desc {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
}
.section.loyalty-card .desc .visits,
.section.loyalty-card .desc .businesses {
  padding: 12px;
  flex: 1;
  display: flex;
  gap: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section.loyalty-card .show-businesses {
  margin-top: 16px;
}
.tile {
  background-color: #ffffff;
  border-radius: 14px;
}
.button-social {
  flex: 1;
  background-color: #ffffff;
  display: flex;
  border: 0;
  flex-direction: column;
  gap: 8px;
  border-radius: 8px;
  padding: 12px;
  justify-content: center;
  align-items: center;
}
.button-default {
  font-size: 14px;
  border-radius: 1000px;
  padding: 20px;
  border: 1px solid #cac7c4;
  background-color: #f5f5f5;
  backdrop-filter: blur(10px);
  width: 100%;
  font-weight: 600;
}
.button-default.selected {
  background-color: #efeefb;
  color: #ffffff;
}
.button-default-medium {
  padding: 12px 20px;
}
.button-primary {
  background: #232122;
  color: #ffffff;
}
.button-secondary {
  border: 1px solid #cac7c4;
  background: #ffffff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  background-color: transparent;
}
.button-nav {
  padding: 8px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 56px;
  border: 0;
  white-space: nowrap;
  background-color: transparent;
  color: #808080;
}
.button-nav.selected {
  font-weight: 600;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 10px 16px 5px 16px;
  gap: 20px;
}
.footer-content-item {
  flex: 1;
  display: flex;
  justify-content: center;
}
.footer .button {
  display: flex;
  min-width: 44px;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 1000px;
  border: 0;
  width: 100%;
  background-color: transparent;
  color: #232122;
  font-weight: 600;
}
.footer .button svg {
  display: block;
  stroke: #232122;
}
.footer .button .button-label {
  display: none;
}
.footer .button.selected {
  background-color: #efeefb;
  color: #8c7dee;
  font-weight: 600;
}
.footer .button.selected svg {
  stroke: #8c7dee;
}
.footer .button.selected .button-label {
  display: block;
}
.language-content {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 16px 16px 0 0;
  padding-top: 8px;
}
.language-content .menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.language-content .menu:first-of-type {
  margin-top: 0;
}
.language-content .menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.language-content .menu-label {
  padding: 16px;
}
.language-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 4;
}
.language-content .menu-items {
  max-height: 400px;
  overflow-y: scroll;
}
.businesses .searchnav {
  display: flex;
  margin: 16px 0 0 16px;
}
.businesses .nav-button {
  padding: 0 16px;
  display: flex;
  align-items: center;
}
.businesses .search-wrapper {
  flex: 1 1 0%;
}
.businesses input.search {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 601px 168px 0px rgba(0, 0, 0, 0), 0px 385px 154px 0px rgba(0, 0, 0, 0.01), 0px 216px 130px 0px rgba(0, 0, 0, 0.04), 0px 96px 96px 0px rgba(0, 0, 0, 0.06), 0px 24px 53px 0px rgba(0, 0, 0, 0.07);
  border: 0;
  height: 48px;
  padding: 16px 16px 16px 56px;
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
}
.businesses input.search::placeholder {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.businesses .search + img {
  display: block;
  padding: 12px;
  position: absolute;
  margin-top: -48px;
  z-index: 8888;
}
.businesses .scanner {
  margin: 16px 16px 0 16px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='30' ry='30' stroke='%23cac7c4' stroke-width='1' stroke-dasharray='10%2c 10' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
  display: flex;
  padding: 52px 0px 8px 0px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 51px;
}
.businesses .scanner-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.businesses .scanner-content .h2-bold {
  text-align: center;
}
.businesses .scanner-button.button-default {
  background-color: #ffffff;
  width: calc(100% - 16px);
  border: 0;
}
.businesses .section.last-visited {
  margin: 24px 16px 0 16px;
}
.businesses .section.all-businesses {
  margin: 24px 16px 72px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.business-item-offers {
  padding: 0 0 102px;
}
.business-item-offers .header-image-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  height: 237px;
}
.business-item-offers .header-image .h2-bold {
  margin-left: 16px;
  color: #ffffff;
}
.business-item-offers .header-image-nav {
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.business-item-offers .header-image-nav .icon-button-round {
  margin: 16px;
}
.business-item-offers .business-item-nav {
  margin: 16px 0;
  display: flex;
  gap: 4px;
  overflow: scroll;
  scrollbar-width: none;
}
.business-item-offers .business-item-nav::-webkit-scrollbar {
  display: none;
}
.business-item-offers .business-item-nav > :first-child {
  margin-left: 16px;
}
.business-item-offers .business-item-nav > :last-child {
  margin-right: 16px;
}
.business-item-offers .credits-box {
  padding: 16px;
  position: relative;
  display: flex;
  align-items: center;
}
.business-item-offers .credits-box-value {
  color: #FFF;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.8px;
  position: absolute;
  top: 45%;
  left: 8%;
  transform: translateY(-75%);
  font-size: 40px;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: start;
}
.business-item-offers .credits-box-label {
  opacity: 0.5;
}
.business-item-offers .credits-box-qr {
  background-color: #ffffff;
  position: absolute;
  top: 23%;
  right: 8%;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.business-item-offers .credits-box-qr svg {
  fill: #232122;
}
.business-item-offers .tickets-container {
  display: flex;
  gap: 10px;
  overflow: scroll hidden;
  scrollbar-width: none;
}
.business-item-offers .tickets-container::-webkit-scrollbar {
  display: none;
}
.business-item-offers .tickets-container > :first-child {
  margin-left: 16px;
}
.business-item-offers .tickets-container > :last-child {
  margin-right: 16px;
}
.business-item-offers .tickets-title {
  margin: 16px;
}
.business-item-offers .ticket {
  margin: 6px 0 4px;
}
.business-item-offers .ticket:last-of-type {
  margin-right: 16px;
}
.business-item-offers .ticket-content {
  width: 287px;
  height: 88px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 1px 5px 10px -6px #ccc;
}
.business-item-offers .ticket-content::before {
  content: '';
  left: 62px;
  top: -22px;
  width: 37px;
  height: 37px;
  border-radius: 37px;
  background: #f5f5f5;
  display: block;
  position: relative;
  box-shadow: inset 0 0 6px 2px #f0f0f0;
  margin-top: -6px;
}
.business-item-offers .ticket-content::after {
  content: '';
  width: 37px;
  height: 37px;
  border-radius: 37px;
  background: #f5f5f5;
  left: 62px;
  bottom: 37px;
  display: block;
  position: relative;
  box-shadow: inset 0 0 3px 1px #E5E5E5;
}
.business-item-offers .ticket-inner {
  height: 88px;
  margin-top: -37px;
}
.business-item-offers .ticket-inner::after {
  content: '';
  display: block;
  height: 47px;
  width: 3px;
  margin-left: 80px;
  margin-top: 23px;
  background: repeating-linear-gradient(to bottom, #f5f5f5 0px, #f5f5f5 5px, transparent 5px, transparent 10px);
}
.business-item-offers .ticket-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 88px;
  border-radius: 16px 0 0 16px;
  position: relative;
  margin-top: -88px;
}
.business-item-offers .ticket-desc {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 180px;
  height: 88px;
  margin-top: -88px;
  margin-left: 96px;
  text-align: left;
}
.business-item-offers .ticket-desc .desc {
  color: #808080;
}
.business-item-offers .coupon-title {
  margin: 24px 16px 16px;
}
.business-item-offers .coupon-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.business-item-offers .coupon-bubble {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 16px;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.09)) drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.05)) drop-shadow(0px 4px 1px rgba(0, 0, 0, 0.01)) drop-shadow(0px 6px 2px rgba(0, 0, 0, 0));
  margin: 0 16px;
  gap: 16px;
  display: flex;
  flex-direction: column;
}
.business-item-offers .coupon-main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.business-item-offers .coupon-bubble-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 43px;
  min-height: 43px;
  border-radius: 48px;
  background-color: #ededed;
  margin-right: 16px;
}
.business-item-offers .coupon-bubble-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.business-item-offers .coupon-bubble-content .desc {
  opacity: 0.6;
}
.business-item-offers .coupon-usage {
  background-color: #f5f5f5;
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.business-item-offers .coupon-usage-used {
  padding: 6px 12px;
  border-radius: 100px;
  width: calc((100% - 32px) / 2);
}
.business-item-offers .coupon-usage-remaining {
  padding: 6px 12px;
}
.business-item-offers .coupon-nothing {
  font-style: italic;
  color: #808080;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.history-item {
  border-bottom: 1px solid #ededed;
  padding: 24px 0;
  margin: 0 16px;
}
.history-item:last-of-type {
  border-bottom: 0;
}
.history-item-content {
  display: flex;
  flex-direction: column;
}
.history-item-image {
  border-radius: 14px;
  overflow: hidden;
}
.history-item-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.history-item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.history-item-date {
  margin-top: 4px;
  color: #808080;
}
.history-item-chips {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 12px;
}
.history-item-chip {
  background-color: #ffffff;
  padding: 5px 10px;
  align-items: center;
  display: flex;
  gap: 8px;
  border-radius: 48px;
}
.history-item-chip-label {
  color: #808080;
}
.history-item-prelink {
  margin-right: -16px;
}
.camera {
  position: fixed;
  display: flex;
  width: 56px;
  height: 56px;
  bottom: 70px;
  right: 10px;
  border-radius: 56px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.popup {
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(6px);
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 24px;
  align-items: center;
  width: 100%;
  color: #ffffff;
  margin: 32px 16px;
  text-align: center;
}
.popup-square {
  background-color: #ffffff;
  border-radius: 16px;
  aspect-ratio: 1 / 1;
  width: 100%;
}
.popup-desc {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  padding: 0 24px;
}
.popup svg {
  stroke: #ffffff;
}
.popup-bottom {
  padding: 0 48px;
}
.profile {
  margin-bottom: 70px;
}
.profile-logged-user {
  display: flex;
  flex-direction: column;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 20px 0 40px;
}
.profile-logged-user > div {
  width: 100%;
  text-align: center;
}
.profile-logged-user .button-default {
  width: 240px;
  margin-top: 16px;
}
.profile-logged-user-email {
  text-align: center;
  width: 100%;
  display: block;
}
.profile-edit {
  margin-bottom: 70px;
}
.profile-edit-title {
  margin: 0 0 40px;
  text-align: center;
}
.profile-edit-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 16px;
}
.profile-edit-section {
  display: flex;
  gap: 12px;
  flex-direction: column;
}
.profile-edit-section .description {
  color: #808080;
}
.profile-edit-nav .icon-button-round {
  margin: 16px;
}
.profile-edit-switch {
  display: flex;
  justify-content: start;
  flex-direction: row;
}
#switch:checked ~ #switch_on {
  display: block;
}
#switch:checked ~ #switch_off {
  display: none;
}
#switch:checked + label svg#switch_on {
  display: block;
}
#switch:checked + label svg#switch_off {
  display: none;
}
#switch:not(:checked) + label svg#switch_on {
  display: none;
}
#switch:not(:checked) + label svg#switch_off {
  display: block;
}
.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 80px;
  height: calc(100vh - 80px);
}
.login-header {
  display: flex;
  gap: 8px;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 16px 16px 24px;
}
.login-form {
  display: flex;
  gap: 12px;
  margin: 0 16px;
  flex-direction: column;
}
.login-header .h2-bold {
  margin: 0;
}
.login-header-description {
  color: #808080;
}
.login-footer {
  margin: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.login-button {
  border-radius: 1000px;
  opacity: 0.5;
  background: #232122;
  backdrop-filter: blur(10px);
  color: #ffffff;
}
.login-footer-no-account {
  text-align: center;
}
/**
* DEMO PURPOUSES
*/
.navbar-checkbox {
  height: 0;
  position: absolute;
}
.navbar-checkbox:checked ~ .navbar .navbar-content {
  transform: translateY(0);
}
.navbar-checkbox:not(:checked) ~ .navbar .navbar-content {
  transform: translateY(-100%);
}
.navbar-checkbox:checked ~ .home #navbar-hamburger,
.navbar-checkbox:checked ~ .navbar #navbar-hamburger {
  display: none;
}
.navbar-checkbox:not(:checked) ~ .navbar #navbar-hamburger {
  display: block;
}
.navbar-checkbox:checked ~ .navbar #navbar-close {
  display: flex;
}
.navbar-checkbox:not(:checked) ~ .navbar #navbar-close {
  display: none;
}
.navbar-checkbox:checked ~ .navbar .logo-container {
  visibility: visible;
}
.navbar-checkbox:not(:checked) ~ .navbar .logo-container {
  visibility: hidden;
}
.navbar-checkbox:checked ~ .navbar .navbar-icon {
  position: fixed;
}
.navbar-checkbox:not(:checked) ~ .navbar .icon-button {
  position: absolute;
}
