html {
  font-size: 14px;
}
.h1,
h1-bold {
  font-family: "Lato", "Open Sans", sans-serif;
  font-optical-sizing: auto;
  letter-spacing: -2%;
  font-size: 38px;
  line-height: 43px;
  font-weight: 700;
}
.h2,
.h2-bold {
  font-family: "Lato", "Open Sans", sans-serif;
  font-optical-sizing: auto;
  letter-spacing: -1%;
  font-size: 28px;
  line-height: 33.6px;
}
.h3,
.h3-bold {
  font-family: "Lato", "Open Sans", sans-serif;
  font-optical-sizing: auto;
  letter-spacing: -2%;
  font-size: 20px;
  line-height: 24px;
}
.h1-bold,
.h2-bold,
.h3-bold {
  font-weight: 700;
}
.subh1 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  letter-spacing: -2%;
  font-size: 18px;
  line-height: 21.78px;
}
.subh2 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  letter-spacing: -1%;
  font-size: 16px;
  line-height: 19.36px;
}
.description {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 12px;
  line-height: 14.52px;
}
.text {
  color: #808080;
}
html {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  background-color: #f5f5f5;
  color: #232122;
  font-size: 14px;
  line-height: 20px;
}
body {
  padding: 0;
  margin: 0;
}
.logo-container {
  margin-left: 16px;
  font-family: Gabarito;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #8c7dee;
}
.navbar-icon {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: #f5f5f5;
  position: absolute;
  z-index: 3;
  right: 0;
  top: 0;
}
label.icon-button {
  position: absolute;
  z-index: 1;
  top: 0;
  justify-content: end;
}
.icon-button {
  padding: 16px;
  display: flex;
  align-items: center;
}
.navbar-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f5f5f5;
  transition: transform 0.4s ease-in-out;
  transform: translateY(-100%);
  height: auto;
  overflow: hidden;
  z-index: 2;
  height: 100vh;
}
.navbar-register {
  margin: 24px 16px 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.menu {
  margin-top: 40px;
}
.menu-label {
  padding-left: 16px;
  color: #808080;
}
.menu-item {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  border-bottom: 1px solid #ededed;
}
.menu .menu-item:nth-last-of-type(1) {
  border-bottom: 0;
}
.menu-item-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.menu-item-title-text {
  line-height: 14px;
}
.register-socials {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.register-socials .button {
  flex: 1;
  background-color: #ffffff;
  display: flex;
  border: 0;
  flex-direction: column;
  gap: 8px;
  border-radius: 8px;
  padding: 12px;
  justify-content: center;
  align-items: center;
}
.section {
  margin: 0 16px;
}
.home {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px 0 82px;
}
.home .main-header-wrapper {
  display: flex;
  justify-content: end;
}
.home .section.register {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.home .section.register .tile {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.home .section.loyalty-programs {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.home .section.loyalty-programs .h3 {
  color: #8c7dee;
}
.home .section.loyalty-card {
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.home .section.loyalty-card .qr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.home .section.loyalty-card .qr-desc {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.home .section.loyalty-card .desc {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
}
.home .section.loyalty-card .desc .visits,
.home .section.loyalty-card .desc .businesses {
  padding: 12px;
  flex: 1;
  display: flex;
  gap: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home .section.loyalty-card .show-businesses {
  margin-top: 16px;
}
.home .tile {
  background-color: #ffffff;
  padding: 8px;
  border-radius: 14px;
}
.tile {
  background-color: #ffffff;
  border-radius: 14px;
}
.button-default {
  border-radius: 1000px;
  padding: 20px;
  border: 1px solid #cac7c4;
  background-color: #f5f5f5;
  backdrop-filter: blur(10px);
  width: 100%;
  font-weight: 700;
}
.button-default.selected {
  background-color: #efeefb;
  color: #ffffff;
}
.button-primary {
  background: #232122;
  color: #ffffff;
}
.button-secondary {
  border: 1px solid #cac7c4;
  background: #ffffff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  background-color: transparent;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 10px 16px 5px 16px;
  gap: 20px;
}
.footer-content-item {
  flex: 1;
  display: flex;
  justify-content: center;
}
.footer .button {
  display: flex;
  min-width: 44px;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 1000px;
  border: 0;
  width: 100%;
  background-color: transparent;
  color: #232122;
  font-weight: 600;
}
.footer .button svg {
  display: block;
  stroke: #232122;
}
.footer .button .button-label {
  display: none;
}
.footer .button.selected {
  background-color: #efeefb;
  color: #8c7dee;
}
.footer .button.selected svg {
  stroke: #8c7dee;
}
.footer .button.selected .button-label {
  display: block;
}
.language-content {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 16px 16px 0 0;
  padding-top: 8px;
}
.language-content .menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.language-content .menu:first-of-type {
  margin-top: 0;
}
.language-content .menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.language-content .menu-label {
  padding: 16px;
}
.language-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 4;
}
.language-content .menu-items {
  max-height: 400px;
  overflow-y: scroll;
}
.businesses .searchnav {
  display: flex;
  margin: 16px 0 0 16px;
}
.businesses .nav-button {
  padding: 0 16px;
  display: flex;
  align-items: center;
}
.businesses .search-wrapper {
  flex: 1 1 0%;
}
.businesses input.search {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 601px 168px 0px rgba(0, 0, 0, 0), 0px 385px 154px 0px rgba(0, 0, 0, 0.01), 0px 216px 130px 0px rgba(0, 0, 0, 0.04), 0px 96px 96px 0px rgba(0, 0, 0, 0.06), 0px 24px 53px 0px rgba(0, 0, 0, 0.07);
  border: 0;
  height: 48px;
  padding: 16px 16px 16px 56px;
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
}
.businesses input.search::placeholder {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.businesses .search-img {
  content: '';
  display: block;
  width: 48px;
  height: 48px;
  position: absolute;
  margin-top: -48px;
  z-index: 8888;
  display: flex;
  justify-content: center;
  align-items: center;
}
.businesses .scanner {
  margin: 16px 16px 0 16px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='30' ry='30' stroke='%23cac7c4' stroke-width='1' stroke-dasharray='10%2c 10' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
  display: flex;
  padding: 52px 0px 8px 0px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 51px;
}
.businesses .scanner-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.businesses .scanner-content .h2-bold {
  text-align: center;
}
.businesses .scanner-button.button-default {
  background-color: #ffffff;
  width: calc(100% - 16px);
  border: 0;
}
.businesses .section.last-visited {
  margin: 24px 16px 0 16px;
}
.businesses .section.all-businesses {
  margin: 24px 16px 72px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
/**
* DEMO PURPOUSES
*/
.navbar-checkbox {
  height: 0;
  position: absolute;
}
.navbar-checkbox:checked ~ .navbar .navbar-content {
  transform: translateY(0);
}
.navbar-checkbox:not(:checked) ~ .navbar .navbar-content {
  transform: translateY(-100%);
}
.navbar-checkbox:checked ~ .home #navbar-hamburger,
.navbar-checkbox:checked ~ .navbar #navbar-hamburger {
  display: none;
}
.navbar-checkbox:not(:checked) ~ .navbar #navbar-hamburger {
  display: block;
}
.navbar-checkbox:checked ~ .navbar #navbar-close {
  display: flex;
}
.navbar-checkbox:not(:checked) ~ .navbar #navbar-close {
  display: none;
}
.navbar-checkbox:checked ~ .navbar .logo-container {
  visibility: visible;
}
.navbar-checkbox:not(:checked) ~ .navbar .logo-container {
  visibility: hidden;
}
.navbar-checkbox:checked ~ .navbar .navbar-icon {
  position: fixed;
}
.navbar-checkbox:not(:checked) ~ .navbar .icon-button {
  position: absolute;
}
