@neutralBlack: #232122;
@neutralGrey: #808080;
@neutralLightGrey: #cac7c4;
@neutralLightGrey2: #ededed;
@neutralBorders: #c7c4ca;
@neutralF5: #f5f5f5;
@neutralWhite: #ffffff;


@lilac: #8c7dee;
@lilacLight: #efeefb;

@base-font-size: 14px;

@boxshadow1: 0 0 10px 0 rgba(0, 0, 0, 0.1);
@boxshadow2: 0px 601px 168px 0px rgba(0, 0, 0, 0.00), 0px 385px 154px 0px rgba(0, 0, 0, 0.01), 0px 216px 130px 0px rgba(0, 0, 0, 0.04), 0px 96px 96px 0px rgba(0, 0, 0, 0.06), 0px 24px 53px 0px rgba(0, 0, 0, 0.07);

@bg: @neutralF5;
@text: @neutralBlack;
@tile-bg: @neutralWhite;

html {
    font-size: @base-font-size;
}

// 38px-43px
.h1,
.h1-bold {
    font-family: "Lato", "Open Sans", sans-serif;
    font-optical-sizing: auto;
    letter-spacing: -2%;
    font-size: 38px;
    line-height: 43px;
    font-weight: 600;
}

.h2,
.h2-bold {
    font-family: "Lato", "Open Sans", sans-serif;
    font-optical-sizing: auto;
    letter-spacing: -1%;
    font-size: 28px;
    line-height: 33.6px;
}

.h3,
.h3-bold {
    font-family: "Lato", "Open Sans", sans-serif;
    font-optical-sizing: auto;
    letter-spacing: -2%;
    font-size: 20px;
    line-height: 24px;
}

.h1-bold,
.h2-bold,
.h3-bold {
    font-weight: 600;
}


.subh1,
.subh1-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    letter-spacing: -2%;
    font-size: 18px; // 1.286rem equivalent
    line-height: 21.78px; // 1.554rem equivalent
}


.subh2,
.subh2-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    letter-spacing: -1%;
    font-size: 16px; // 1.143rem equivalent
    line-height: 19.36px; // 1.377rem equivalent
}

.subh1-bold,
.subh2-bold {
    font-weight: 600;
}

.description {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 12px;
    line-height: 14.52px;
}


.bold {
    font-weight: 600;
}

.text {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    font-weight: 400;
}


html {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    background-color: @bg;
    color: @text;
    font-size: 14px;
    line-height: 20px;
}

body {
    padding: 0;
    margin: 0;
}

.input-prefix-icon {
    padding: 12px;
    border: 1px solid @neutralBorders;
    background-color: @neutralF5;
    border-radius: 12px;
}



.logo-container {
    margin-left: 16px;
    font-family: Gabarito;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 8px;
    color: @lilac;
}

.navbar-icon {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: @neutralF5;
    position: absolute;
    z-index: 3;
    right: 0;
    top: 0;

}

label.icon-button {
    position: absolute;
    z-index: 1;
    top: 0;
    justify-content: end;
}

.icon-button {
    padding: 16px;
    display: flex;
    align-items: center;
}

.navbar-content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: @neutralF5;
    transition: transform 0.4s ease-in-out;
    transform: translateY(-100%);
    height: auto;
    overflow: hidden;
    z-index: 2;
    height: 100vh;
}

.navbar-register {
    margin: 24px 16px 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.menu {
    margin-top: 40px;
}

.menu-label {
    padding-left: 16px;
    color: @neutralGrey;
}

.menu-item {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    border-bottom: 1px solid @neutralLightGrey2;
}

.menu .menu-item:nth-last-of-type(1) {
    border-bottom: 0;
}

.menu-item-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.menu-item-title-text {
    line-height: 14px;
}


.register-socials {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.section {
    margin: 0 16px;
}

.home-page {
    display: flex;
    flex-direction: column;
    gap: 24px; // 1.143rem equivalent
    padding: 16px 0 82px;

    .main-header-wrapper {
        display: flex;
        justify-content: end;
    }

    .section {

        &.register {
            display: flex;
            flex-direction: column;
            gap: 16px; // 1.143rem equivalent



            .tile {
                flex: 1; // Ensure all tiles have the same width
                display: flex;
                flex-direction: column;
                gap: 8px; // 1.143rem equivalent

            }
        }

        &.loyalty-programs {
            display: flex;
            flex-direction: column;
            gap: 8px; // 1.143rem equivalent

            .h3 {
                color: @lilac;
            }
        }



    }

    .tile {
        background-color: @tile-bg;
        padding: 8px;
        border-radius: 14px;
    }
}


.section.loyalty-card {
    display: flex;
    gap: 8px;
    flex-direction: column;

    .qr {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;

        &-desc {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
    }

    .desc {
        display: flex;
        gap: 8px; // 8px gap between .BA and .BB
        justify-content: space-between;
        align-items: center;

        .visits,
        .businesses {
            padding: 12px;
            flex: 1; // Ensure .BA and .BB have the same width
            display: flex;
            gap: 12px;
            flex-direction: column;
            justify-content: center; // Center content vertically
            align-items: center; // Center content horizontally
        }
    }

    .show-businesses {
        margin-top: 16px;
    }
}




.tile {
    background-color: @neutralWhite;
    border-radius: 14px
}

.button-social {
    flex: 1;
    background-color: @neutralWhite;
    display: flex;
    border: 0;
    flex-direction: column;
    gap: 8px;
    border-radius: 8px;
    padding: 12px;
    justify-content: center;
    align-items: center;
}

.button-default {
    font-size: 14px;
    border-radius: 1000px;
    padding: 20px;
    border: 1px solid @neutralLightGrey;
    background-color: @neutralF5;
    backdrop-filter: blur(10px);
    width: 100%;
    font-weight: 600;

    &.selected {
        background-color: @lilacLight;
        color: @neutralWhite;
    }
}

.button-primary {
    background: @neutralBlack;
    color: @neutralWhite;
}

.button-secondary {
    border: 1px solid @neutralLightGrey;
    background: @neutralWhite;
    box-shadow: @boxshadow1;
    backdrop-filter: blur(20px); // Add background blur
    background-color: transparent;
}

.icon-button-round {
    display: flex;
    padding: 8px;
    align-items: center;
    border-radius: 104px;
    backdrop-filter: blur(32px);
    background-color: @neutralWhite;
}

// BUTTUNS IN NAVIGATION BUSSINES ITEM
.button-nav {
    padding: 8px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 56px;
    border: 0;
    white-space: nowrap;
    background-color: transparent;
    color: @neutralGrey;

    &.selected {
        font-weight: 600;
    }
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: @neutralWhite;

    &-content {
        display: flex;
        justify-content: space-between; // Ensure items are in one row
        padding: 10px 16px 5px 16px; // 0.714rem equivalent
        gap: 20px;

        &-item {
            flex: 1; // Ensure all items have the same width
            display: flex;
            justify-content: center;
        }
    }

    .button {
        display: flex;
        min-width: 44px;
        padding: 12px 20px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 1000px;
        border: 0;
        width: 100%;
        background-color: transparent;
        color: @neutralBlack;
        font-weight: 600;

        svg {
            display: block;
            stroke: @neutralBlack;
        }

        .button-label {
            display: none;

        }

        &.selected {
            background-color: @lilacLight;
            color: @lilac;
            font-weight: 600;

            svg {
                stroke: @lilac;

            }

            .button-label {
                display: block;
            }
        }
    }
}

.language-content {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: @neutralF5;
    border-radius: 16px 16px 0 0;
    padding-top: 8px;

    .menu {
        display: flex;
        flex-direction: column;
        gap: 8px;

        &:first-of-type {
            margin-top: 0;
        }
    }

    .menu-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-label {
        padding: 16px;
    }
}

.language-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(6px);
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 4;
}


.language-content .menu-items {
    max-height: 400px;
    overflow-y: scroll;
}

.businesses {
    .searchnav {
        display: flex;
        margin: 16px 0 0 16px;
    }

    .nav-button {
        padding: 0 16px;
        display: flex;
        align-items: center;
    }

    .search-wrapper {
        flex: 1 1 0%;
    }

    input.search {
        background-color: @neutralWhite;
        border-radius: 12px;
        box-shadow: @boxshadow2;
        border: 0;
        height: 48px;
        padding: 16px 16px 16px 56px;
        position: relative;
        z-index: 1;
        width: 100%;
        display: flex;

        &::placeholder {
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    .search-img {
        content: '';
        display: block;
        width: 48px;
        height: 48px;
        position: absolute;
        margin-top: -48px;
        z-index: 8888;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .scanner {
        margin: 16px 16px 0 16px;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='30' ry='30' stroke='%23cac7c4' stroke-width='1' stroke-dasharray='10%2c 10' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
        // background-image: repeating-linear-gradient(90deg, #cac7c4, #cac7c4 10px, transparent 10px, transparent 20px), repeating-linear-gradient(180deg, #cac7c4, #cac7c4 10px, transparent 10px, transparent 20px), repeating-linear-gradient(90deg, #cac7c4, #cac7c4 10px, transparent 10px, transparent 20px), repeating-linear-gradient(180deg, #cac7c4, #cac7c4 10px, transparent 10px, transparent 20px);
        // background-position: left top, right top, left bottom, left top;
        // background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
        // background-size: 100% 1px, 1px 100%, 100% 1px, 1px 100%;
        // border-radius: 30px;
        display: flex;
        padding: 52px 0px 8px 0px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 51px;
    }

    .scanner-content {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;

        .h2-bold {
            text-align: center;
        }
    }

    .scanner-button.button-default {
        background-color: @neutralWhite;
        width: calc(100% - 16px);
        border: 0;
    }

    .section.last-visited {
        margin: 24px 16px 0 16px;
    }

    .section.all-businesses {
        margin: 24px 16px 72px 16px;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}

.business-item-offers {
    padding: 0 0 102px;

    .header-image-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        height: 237px;
    }

    .header-image .h2-bold {
        margin-left: 16px;
        color: @neutralWhite;
    }

    .header-image-nav {
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;

        .icon-button-round {
            margin: 16px;
        }
    }

    .business-item-nav {
        margin: 16px 0;
        display: flex;
        gap: 4px;
        overflow: scroll;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        & > :first-child {
            margin-left: 16px;
        }

        & > :last-child {
            margin-right: 16px;
        }
    }


    .credits-box {
        padding: 16px;
        position: relative;
        display: flex;
        align-items: center;

    }

    .credits-box-value {
        color: #FFF;
        font-family: Lato;
        font-style: normal;
        font-weight: 600;
        letter-spacing: -0.8px;
        position: absolute;
        top: 45%;
        left: 8%;
        transform: translateY(-75%);
        font-size: 40px; // Default font size
        display: flex;
        align-items: center;
        gap: 8px;
        justify-content: start;
    }

    .credits-box-label {
        opacity: 0.5;
    }

    .credits-box-qr {
        background-color: @neutralWhite;
        position: absolute;
        top: 23%;
        right: 8%;
        width: 40px;
        height: 40px;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .credits-box-qr svg {
        fill: @neutralBlack;
    }

    .tickets-container {
        display: flex;
        gap: 10px;
        overflow: scroll hidden;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        & > :first-child {
            margin-left: 16px;
        }

        & > :last-child {
            margin-right: 16px;
        }
    }

    .tickets-title {
        margin: 16px;
    }

    .ticket {

        margin: 6px 0 4px;

        &:last-of-type {
            margin-right: 16px;
        }
    }


    .ticket-content {

        width: 287px;
        height: 88px;
        background-color: @neutralWhite;
        border-radius: 16px;
        box-shadow: 1px 5px 10px -6px #ccc;

        &::before {
            content: '';

            left: 62px;
            top: -22px;
            width: 37px;
            height: 37px;
            border-radius: 37px;
            background: @neutralF5;
            display: block;
            position: relative;
            box-shadow: inset 0 0 6px 2px #f0f0f0;
            margin-top: -6px;
        }

        &::after {
            content: '';
            width: 37px;
            height: 37px;
            border-radius: 37px;
            background: @neutralF5;
            left: 62px;
            bottom: 37px;
            display: block;
            position: relative;
            box-shadow: inset 0 0 3px 1px #E5E5E5;
        }

    }

    .ticket-inner {
        height: 88px;
        margin-top: -37px;

        &::after {
            content: '';
            display: block;
            height: 47px;
            width: 3px;
            margin-left: 80px;
            margin-top: 23px;
            background: repeating-linear-gradient(to bottom,
                    @neutralF5 0px,
                    @neutralF5 5px,
                    transparent 5px,
                    transparent 10px);
        }
    }

    .ticket-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 88px;
        border-radius: 16px 0 0 16px;
        position: relative;
        margin-top: -88px;
    }

    .ticket-desc {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 180px;
        height: 88px;
        margin-top: -88px;
        margin-left: 96px;
        text-align: left;
    }

    .ticket-desc .desc {
        color: @neutralGrey;
    }



    .coupon-title {
        margin: 24px 16px 16px;
    }

    .coupon-container {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .coupon-bubble {
        background-color: @neutralWhite;
        border-radius: 16px;
        padding: 16px;
        filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.09)) drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.05)) drop-shadow(0px 4px 1px rgba(0, 0, 0, 0.01)) drop-shadow(0px 6px 2px rgba(0, 0, 0, 0.00));
        margin: 0 16px;
        gap: 16px;
        display: flex;
        flex-direction: column;
    }

    .coupon-main {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .coupon-bubble-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 43px;
        min-height: 43px;
        border-radius: 48px;
        background-color: @neutralLightGrey2;
        margin-right: 16px;
    }

    .coupon-bubble-content {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .coupon-bubble-content .desc {
        opacity: 0.6;
    }

    .coupon-usage {
        background-color: @neutralF5;
        border-radius: 100px;
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    .coupon-usage-used {
        padding: 6px 12px;
        border-radius: 100px;
        width: calc((100% - 32px) / 2);
    }

    .coupon-usage-remaining {
        padding: 6px 12px;
    }

    .coupon-nothing {
        font-style: italic;
        color: @neutralGrey;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
}





.history-item {
    border-bottom: 1px solid @neutralLightGrey2;
    padding: 24px 0;
    margin: 0 16px;

    &:last-of-type {
        border-bottom: 0;
    }
}

.history-item-content {
    display: flex;
    flex-direction: column;
}

.history-item-image {
    border-radius: 14px;
    overflow: hidden;
}

.history-item-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.history-item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.history-item-date {
    margin-top: 4px;
    color: @neutralGrey;
}

.history-item-chips {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-top: 12px;
}

.history-item-chip {
    background-color: @neutralWhite;
    padding: 5px 10px;
    align-items: center;
    display: flex;
    gap: 8px;
    border-radius: 48px;
}

.history-item-chip-label {
    color: @neutralGrey;
}

.history-item-prelink {
    margin-right: -16px;
}


.camera {
    position: fixed;
    display: flex;
    width: 56px;
    height: 56px;
    bottom: 70px;
    right: 10px;
    border-radius: 56px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}









.profile {
    margin-bottom: 70px;

}

.profile-logged-user {
    display: flex;
    flex-direction: column;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 20px 0 40px;

    & > div {
        width: 100%;
        text-align: center;
    }

    .button-default {
        width: 240px;
        margin-top: 16px;
    }
}

.profile-logged-user-email {
    text-align: center;
    width: 100%;
    display: block;
}







.profile-edit {
    margin-bottom: 70px;
}

.profile-edit-title {
    margin: 16px 0 40px;
    text-align: center;
}

.profile-edit-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 16px;
}

.profile-edit-section {
    display: flex;
    gap: 12px;
    flex-direction: column;

    .description {
        color: @neutralGrey;
    }
}

.profile-edit-switch {
    display: flex;
    justify-content: start;
    flex-direction: row;
}

#switch:checked ~ #switch_on {
    display: block;
}

#switch:checked ~ #switch_off {
    display: none;
}

#switch:checked + label svg#switch_on {
    display: block;
}

#switch:checked + label svg#switch_off {
    display: none;
}

#switch:not(:checked) + label svg#switch_on {
    display: none;
}

#switch:not(:checked) + label svg#switch_off {
    display: block;
}







/**
* DEMO PURPOUSES
*/

.navbar-checkbox {
    height: 0;
    position: absolute;
}

.navbar-checkbox:checked ~ .navbar .navbar-content {
    transform: translateY(0);
}

.navbar-checkbox:not(:checked) ~ .navbar .navbar-content {
    transform: translateY(-100%);
}

.navbar-checkbox:checked ~ .home #navbar-hamburger,
.navbar-checkbox:checked ~ .navbar #navbar-hamburger {
    display: none;
}

.navbar-checkbox:not(:checked) ~ .navbar #navbar-hamburger {
    display: block;
}

.navbar-checkbox:checked ~ .navbar #navbar-close {
    display: flex;
}

.navbar-checkbox:not(:checked) ~ .navbar #navbar-close {
    display: none;
}

.navbar-checkbox:checked ~ .navbar .logo-container {
    visibility: visible;
}

.navbar-checkbox:not(:checked) ~ .navbar .logo-container {
    visibility: hidden;
}

.navbar-checkbox:checked ~ .navbar .navbar-icon {
    position: fixed;
}

.navbar-checkbox:not(:checked) ~ .navbar .icon-button {
    position: absolute;
}
